@model IEnumerable<dynamic>
<div class="wrapper">
    <div class="main-download">
        <div class="downloads">
            @if (Model.Any())
            {
                foreach (var file in Model)
                {
                    if (file.Name != ".DS_Store")
                    {
                        <div class="download-item">
                            <h4>@file.Name</h4>
                            <p>Size: @file.Length</p>

                            <form action="/FileUpload/DownloadFile" method="get">
                                <input type="text" name="fileName" value="@file.Name" hidden>
                                <input type="submit" id="@file.Name" hidden>
                                <label for="@file.Name"><a class="download-link">Скачать</a></label>
                            </form>
                            <form action="/FileUpload/DeleteFile" method="get">
                                <input type="text" name="fileName" value="@file.Name" hidden>
                                <input type="submit" id="@file.Name d" hidden>
                                <label for="@file.Name d"><a class="download-link">Удалить</a></label>
                            </form>
                        </div>
                    }
                }
            }
        </div>
    </div>

</div>